@charset "UTF-8";
body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol {
  margin: 0; }

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent; }

a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*Для проекта*/
p, ol, ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  margin-top: 15px;
  margin-bottom: 15px; }

h1 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  color: #000;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal;
  margin-bottom: 35px;
  margin-top: 15px; }

h2 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal;
  margin-top: 30px;
  margin-bottom: 20px; }

h3 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal;
  margin-top: 25px;
  margin-bottom: 20px; }

h4 {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal; }

@media (min-width: 768px) {
  h1 {
    font-family: 'PT Serif', serif;
    font-size: 28px;
    color: #000;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: normal;
    margin-bottom: 35px;
    margin-top: 0; }
  h2 {
    font-family: 'PT Serif', serif;
    font-size: 22px;
    color: #000;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: 20px; }
  h3 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal;
    margin-top: 25px;
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  p, ul, ol {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
  h1 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    color: #000;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: normal;
    margin-bottom: 40px; }
  h2 {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: #000;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: normal;
    margin-top: 35px;
    margin-bottom: 20px; }
  h3 {
    font-family: 'PT Serif', serif;
    font-size: 22px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal; }
  h5 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal; } }

@-webkit-keyframes flicker {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); } }

@keyframes flicker {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); } }

.btn-inclined-lines {
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #808080;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: 1px;
  transition: border-color 0.1s, color 0.1s; }
  .btn-inclined-lines::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 150%;
    border: 1px solid #000;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
            transform: translateY(-50%) translateX(-50%) rotate(25deg);
    transition: all 1s;
    z-index: 1; }
  .btn-inclined-lines:hover {
    border-color: #000; }
  .btn-inclined-lines:active {
    border-color: #CBCBCB;
    color: rgba(0, 0, 0, 0.3); }
  .btn-inclined-lines:hover::after {
    height: 400%;
    opacity: 1; }
  .btn-inclined-lines--white::after {
    border: 2px solid #613C93; }

.header {
  padding-top: 20px; }

.header__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header__logo {
  width: 200px;
  height: 60px;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 5%; }

.header__logo-img {
  display: block; }

.header__logo img {
  display: block; }

@media (min-width: 768px) {
  .header {
    padding-top: 40px; }
  .header__wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .header__logo {
    width: auto;
    height: auto;
    padding: 0;
    padding-bottom: 10px;
    margin-right: 20px; }
  .header__nav {
    flex-shrink: 0; } }

.main-nav {
  position: relative;
  min-height: 52px; }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    z-index: 100; }
  .main-nav--closed .menu-main__item {
    display: none; }
    .main-nav--closed .menu-main__item--active {
      display: block; }
  .main-nav--closed .menu-main__item--active .menu-main__link {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center; }
  .main-nav--opened .menu-main__item {
    display: block; }
  .main-nav--opened ~ .search {
    display: none; }
  .main-nav--nojs .hamburger {
    display: none; }
  .main-nav--nojs .menu-main__item {
    display: block;
    position: static; } }

@media (min-width: 768px) {
  .main-nav {
    min-height: auto; }
  .main-nav__wrapper {
    display: block; } }

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none; }
  .hamburger:hover {
    background-color: #bca6db; }

.main-nav--closed .hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  right: 0;
  left: 0;
  width: 36px;
  height: 2px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 11px 0 rgba(0, 0, 0, 0.5), 0 22px 0 rgba(0, 0, 0, 0.5); }

.main-nav--closed .hamburger:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 11px 0 rgba(0, 0, 0, 0.3), 0 22px 0 rgba(0, 0, 0, 0.3); }

.main-nav--closed .hamburger:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 11px 0 rgba(0, 0, 0, 0.8), 0 22px 0 rgba(0, 0, 0, 0.8); }

.main-nav--opened .hamburger {
  left: 0;
  right: auto; }
  .main-nav--opened .hamburger::after, .main-nav--opened .hamburger::before {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    width: 36px;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); }
  .main-nav--opened .hamburger::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .hamburger::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .hamburger:active:before, .main-nav--opened .hamburger:active:after {
    background-color: rgba(0, 0, 0, 0.3); }
  .main-nav--opened .hamburger:hover:before, .main-nav--opened .hamburger:hover:after {
    background-color: rgba(0, 0, 0, 0.8); }

@media (min-width: 768px) {
  .hamburger {
    display: none; } }

.menu-main {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu-main__link {
  display: block;
  padding: 15px 20px;
  border-top: 1px solid #d8cae9;
  border-bottom: 1px solid #b297d5;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-decoration: none;
  background-color: #cab8e2; }

.menu-main__link[href]:hover {
  background-color: #bca6db;
  border-top-color: #bca6db; }

.menu-main__link[href]:active {
  background-color: #b297d5;
  border-top-color: #b297d5;
  color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .menu-main {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    background-color: transparent; }
  .menu-main__item {
    margin-right: 3px; }
  .menu-main__item:last-child {
    margin-right: 0px; }
  .menu-main__link {
    padding: 0;
    border: none;
    font: inherit;
    text-transform: inherit;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: block;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
    .menu-main__link:hover {
      background: linear-gradient(0deg, #E2D8F1, #fff);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
    .menu-main__link:active {
      color: rgba(0, 0, 0, 0.3); }
  .menu-main__item--active .menu-main__link {
    background: linear-gradient(0deg, #E2D8F1, #fff);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); } }

@media (min-width: 1200px) {
  .menu-main__link {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    padding: 15px 25px;
    padding-bottom: 12px; } }

.content {
  background-color: #E2D8F1;
  border-bottom: 2px solid #cab8e2;
  margin-bottom: 50px; }

.content__wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px; }

.content__quote {
  max-width: 515px;
  margin: 0 auto;
  padding-left: 10%;
  text-align: center; }

.content__block {
  max-width: 515px;
  margin: 0 auto; }
  .content__block--center {
    text-align: center; }

.content__block p {
  margin-top: 0; }
  .content__block p:last-child {
    margin-bottom: 0; }

.content__btn {
  width: 230px;
  margin: 30px auto;
  margin-top: 30px;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: 1px; }

.grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.grid__block {
  width: 100%;
  margin-top: 30px; }
  .grid__block--mb-lg {
    margin-top: 50px; }

@media (min-width: 768px) {
  .content {
    margin-bottom: 80px; }
  .content__wrapper {
    padding-top: 60px;
    padding-bottom: 60px; }
  .content__quote {
    max-width: none;
    padding-left: 25%; }
  .content__block {
    max-width: none;
    margin: 0; }
  .content__btn {
    margin-bottom: 0; }
  .grid {
    -webkit-box-align: center;
            align-items: center; }
  .grid__block {
    width: 47%;
    margin-top: 30px; }
    .grid__block--mb-lg {
      margin-top: 30px; }
    .grid__block:nth-child(3) {
      -webkit-box-ordinal-group: 5;
              order: 4; } }

@media (min-width: 1200px) {
  .content {
    margin-bottom: 70px; }
  .content__quote {
    margin-bottom: 25px; }
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start;
    align-content: space-between;
    height: 350px;
    overflow: hidden; }
  .grid__block {
    width: 640px;
    margin-top: 0; }
    .grid__block--mb-lg {
      margin-top: 0px; }
    .grid__block:first-child {
      width: 396px;
      height: 100%; }
    .grid__block:nth-child(2) {
      margin-bottom: 15px; }
    .grid__block:nth-child(3) {
      display: none; } }

.main {
  position: relative; }
  .main::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5); }
  .main--bg-pink {
    padding-top: 35px;
    background: linear-gradient(to bottom, #E2D8F1 665px, #cab8e2 665px, #cab8e2 667px, #fff 667px); }

.main__blocks {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .main--bg-pink {
    padding-top: 60px; } }

.substrate {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #F5F5F5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }

.substrate__content {
  padding: 7% 7%; }

@media (min-width: 768px) {
  .substrate__content {
    padding: 8% 12%; } }

@media (min-width: 1200px) {
  .substrate__content {
    padding: 8% 10%; } }

.article h1,
.article h2,
.article h3 {
  text-align: center; }

.article p {
  text-align: justify; }

.article a {
  text-decoration: none; }

.article ul,
.article ol {
  padding-left: 30px; }

.article blockquote {
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 10px; }

.article blockquote p {
  text-align: left; }

.article address {
  display: block;
  text-align: right; }

.article__btn {
  width: 240px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .article ul,
  .article ol {
    padding-left: 50px; }
  .article__btn {
    margin-bottom: 30px; } }

@media (min-width: 1200px) {
  .article blockquote {
    margin-bottom: 20px; }
  .article ul,
  .article ol {
    padding-left: 60px; } }

.blockquote {
  padding-top: 10px;
  margin: 0 auto; }

.blockquote p {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal;
  font-style: italic;
  text-align: right; }

.blockquote cite {
  display: block;
  margin-top: 15px;
  font-family: 'PT Serif', serif;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: normal;
  text-align: right; }

.blockquote__quotes {
  position: relative;
  display: inline-block;
  padding-left: 40px; }
  .blockquote__quotes::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 0px;
    width: 40px;
    height: 30px;
    background-image: url(../img/quotes.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .blockquote__quotes--screamer {
    padding-left: 20px; }
    .blockquote__quotes--screamer::before {
      top: -6px;
      background-image: url(../img/screamer.png);
      background-size: contain; }

.blockquote__nowrap {
  white-space: nowrap; }

@media (min-width: 768px) {
  .blockquote {
    padding-top: 10px; }
  .blockquote p {
    margin-bottom: 0;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: #000;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: normal; }
  .blockquote cite {
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
  .blockquote__quotes {
    padding-left: 50px; }
    .blockquote__quotes::before {
      top: -10px;
      left: 0px;
      width: 40px;
      height: 40px; }
    .blockquote__quotes--screamer {
      padding-left: 25px; }
      .blockquote__quotes--screamer::before {
        top: -10px; } }

@media (min-width: 1200px) {
  .blockquote {
    padding-top: 20px; }
  .blockquote p {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    color: #000;
    font-weight: normal;
    line-height: 35px;
    letter-spacing: normal; }
  .blockquote cite {
    margin-top: 15px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
  .blockquote__quotes {
    padding-left: 80px; }
    .blockquote__quotes::before {
      top: -20px;
      left: 0px;
      width: 70px;
      height: 60px; }
    .blockquote__quotes--screamer {
      padding-left: 40px; } }

.blocks {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px; }

.blocks__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.blocks__item {
  -webkit-box-flex: 1;
          flex-grow: 1;
  box-sizing: border-box;
  max-width: 500px;
  padding: 20px 25px;
  margin: 0 1.5%;
  margin-bottom: 30px;
  box-shadow: 0px 0px 2px 1px #CBCBCB;
  transition: box-shadow 0.2s; }
  .blocks__item:last-child {
    margin-bottom: 0; }
  .blocks__item:hover {
    box-shadow: 0px 5px 12px 4px rgba(203, 203, 203, 0.7); }

.blocks__item-title {
  margin-top: 0;
  margin-bottom: 10px; }

.blocks__item-link {
  display: block;
  margin-bottom: 4px;
  text-decoration: none; }
  .blocks__item-link:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #9C92A9;
            text-decoration-color: #9C92A9;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip: ink; }
  .blocks__item-link:active {
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .blocks {
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px; }
  .blocks__item {
    -webkit-box-flex: 0;
            flex-grow: 0;
    max-width: none;
    width: 48%;
    padding: 30px 35px;
    margin: 0; } }

@media (min-width: 1200px) {
  .blocks {
    margin-bottom: 70px; }
  .blocks__item {
    width: 396px;
    padding: 30px 45px; }
    .blocks__item--wide {
      width: 640px;
      position: relative;
      padding-right: 220px;
      background-image: url(../img/exercise-knees-1x.png);
      background-repeat: no-repeat;
      background-position: right 35px bottom 35px;
      background-size: 160px auto; } }

.previews {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.previews__title {
  margin-bottom: 5px;
  text-align: center; }

.previews__item {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-top: 30px;
  margin-left: 1.5%;
  margin-right: 1.5%; }

@media (min-width: 768px) {
  .previews__title {
    margin-bottom: 10px; } }

@media (min-width: 1200px) {
  .previews__title {
    margin-bottom: 15px; } }

.preview {
  padding: 20px;
  width: 180px;
  box-shadow: 0px 0px 2px 1px #CBCBCB;
  cursor: default;
  transition: box-shadow 0.2s; }
  .preview:hover {
    box-shadow: 0px 5px 12px 4px rgba(203, 203, 203, 0.7); }
    .preview:hover img {
      -webkit-animation: flicker 0.5s;
              animation: flicker 0.5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }

.preview a {
  text-decoration: none; }
  .preview a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #9C92A9;
            text-decoration-color: #9C92A9;
    -webkit-text-decoration-skip: ink;
            text-decoration-skip: ink; }
  .preview a:active {
    color: rgba(0, 0, 0, 0.3); }

.preview h3 {
  height: 75px;
  margin-top: 0;
  overflow: hidden; }

.preview img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.preview p {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden; }
  .preview p::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 20px;
    background: linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 80%); }

@media (min-width: 768px) {
  .preview {
    padding: 25px; } }

.form__item {
  margin-top: 0;
  margin-bottom: 20px; }

.form__item label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  display: block;
  padding-left: 5px;
  margin-bottom: 10px; }

.form__item input,
.form__item textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #F5F5F5;
  outline: none;
  transition: background-color 0.2s; }

.form__item--error input,
.form__item--error textarea {
  background-color: rgba(255, 182, 182, 0.4); }

.form__item input:hover,
.form__item textarea:hover {
  background-color: #E6E6E6; }

.form__item input:focus,
.form__item textarea:focus {
  background-color: #fff;
  border: 1px solid #E6E6E6; }

.form__item input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item input:-moz-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item input:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item input:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item input:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item input:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item textarea:-moz-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.4);
  text-indent: 0px; }

.form__item textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item textarea:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0);
  text-indent: 100px;
  transition: 0.5s ease; }

.form__item textarea {
  height: 100px;
  resize: none; }

.form__btn {
  margin-top: 40px;
  width: 200px; }

@media (min-width: 768px) {
  .form__item {
    margin-bottom: 25px; }
  .form__item label {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    margin-bottom: 15px; }
  .form__name {
    float: left;
    width: 47%; }
  .form__phone {
    width: 47%;
    float: right; }
  .form__email {
    width: 47%;
    float: right; }
  .form__item textarea {
    height: 100px; }
  .form__btn {
    margin-top: 40px; }
    .form__btn--mt-big {
      margin-top: 135px; } }

.feedback__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.feedback__item {
  margin-bottom: 10px;
  background-color: #bca6db; }

.feedback__item-title {
  margin: 0; }

.feedback__item-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 25px;
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 0.4s; }

.feedback__item-title a {
  display: block;
  position: relative;
  padding: 15px 25px;
  padding-left: 55px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.5s; }
  .feedback__item-title a:hover {
    color: #000; }
    .feedback__item-title a:hover .feedback__item-icon {
      fill: #000; }
  .feedback__item-title a:active {
    color: rgba(0, 0, 0, 0.3); }
    .feedback__item-title a:active .feedback__item-icon {
      fill: rgba(0, 0, 0, 0.3); }

.feedback__item-appeal {
  display: block;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  color: #000;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal; }
  .feedback__item-appeal--sent {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center; }

.feedback__item-text {
  height: 0px;
  padding: 0 7%;
  margin: 0;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: height 0.5s, padding 0.5s; }

.feedback__btn-back {
  width: 200px;
  margin: 0 auto; }

.feedback__item:target .feedback__item-title {
  display: none; }

.feedback__item:target .feedback__item-title a {
  color: #000;
  cursor: default; }
  .feedback__item:target .feedback__item-title a:hover {
    color: #000; }
    .feedback__item:target .feedback__item-title a:hover .feedback__item-icon {
      fill: #000; }
  .feedback__item:target .feedback__item-title a:active {
    color: #000; }
    .feedback__item:target .feedback__item-title a:active .feedback__item-icon {
      fill: #000; }

.feedback__item:target .feedback__item-text {
  height: 480px;
  padding: 10% 7%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }

.feedback__item:target .feedback__item-icon {
  fill: #000; }

@media (min-width: 768px) {
  .feedback {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    max-width: 825px;
    margin: 0 auto; }
  .feedback__item {
    height: 565px;
    margin: 0;
    background-color: transparent; }
  .feedback__item-title {
    padding: 15px 15px;
    height: 20px; }
  .feedback__item-title a {
    padding: 0; }
  .feedback__item-icon {
    display: none; }
  .feedback__item-text {
    position: absolute;
    box-sizing: border-box;
    top: 50px;
    left: 0px;
    width: 0px;
    transition: none; }
  .feedback__item-appeal {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    color: #000;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: normal;
    margin-bottom: 35px; }
    .feedback__item-appeal--sent {
      margin-top: 80px;
      margin-bottom: 50px; }
  .feedback__item:target .feedback__item-icon {
    display: block;
    width: 26px;
    height: 26px;
    left: -13px;
    top: -5px; }
  .feedback__item:target .feedback__item-text {
    width: 100%;
    height: 515px;
    padding: 50px 110px;
    padding-top: 60px;
    background-color: #F5F5F5;
    overflow: hidden; }
  .feedback__item:target .feedback__item-title {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 3px solid #b297d5;
    background-color: #F5F5F5;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 0; } }

.footer {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal; }

.footer__contacts {
  margin: 0 5%;
  margin-bottom: 25px;
  text-align: center; }

.footer__contacts-nowrap {
  white-space: nowrap; }

.footer__contacts-name {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal; }

.footer__contacts a {
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  text-transform: capitalize; }

.footer__contacts-hidden {
  display: none; }

.footer__social {
  margin-bottom: 25px; }

.footer__social-hidden {
  display: none; }

.footer__copyright {
  margin: 0 5%;
  text-align: center; }

.footer__copyright-link {
  width: 250px;
  margin: 0 auto;
  margin-top: 8px; }

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .footer__wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
  .footer__contacts {
    margin: 0;
    margin-bottom: 25px;
    text-align: left; }
  .footer__contacts-name {
    margin-bottom: 5px; }
  .footer__contacts a {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    font: inherit;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
    transition: none; }
    .footer__contacts a::after {
      display: none; }
    .footer__contacts a:hover {
      border: none; }
    .footer__contacts a:active {
      border: none;
      background-color: transparent; }
  .footer__contacts-hidden {
    display: inline; }
  .footer__social {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 4;
            order: 3; }
  .footer__copyright {
    width: 220px;
    margin: 0;
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .footer__copyright a {
    width: auto; } }

@media (min-width: 1200px) {
  .footer {
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: normal; }
  .footer__contacts {
    width: 360px;
    margin: 0; }
  .footer__contacts-name {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal; }
  .footer__social {
    width: 360px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .footer__social-hidden {
    display: inline; }
  .footer__copyright {
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
            order: 3; } }

.social {
  display: table;
  width: 100%; }

.social__link {
  position: relative;
  display: table-cell;
  width: 33.33%;
  height: 100px;
  font-size: 0;
  border: 1px solid #CBCBCB;
  transition: border-color 0.2s, background-color 0.2s; }
  .social__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url(../img/social-sprite.png);
    background-repeat: no-repeat; }
  .social__link--vk::before {
    background-position: 12px 0; }
  .social__link--fb::before {
    background-position: -36px 1px; }
  .social__link--in::before {
    background-position: -83px 0; }
  .social__link:hover {
    border: 1px solid #000; }
    .social__link:hover::before {
      -webkit-filter: brightness(0%);
              filter: brightness(0%); }
  .social__link:active {
    border: 1px solid #808080; }
    .social__link:active::before {
      -webkit-filter: brightness(80%);
              filter: brightness(80%); }

@media (min-width: 1200px) {
  .social {
    width: auto;
    margin: 0 auto;
    border-spacing: 10px; }
  .social__link {
    width: 50px;
    height: 50px; }
    .social__link:before {
      width: 20px;
      height: 20px;
      top: 15px;
      background-size: auto 20px; }
    .social__link--vk::before {
      background-position: 5px -1px; }
    .social__link--fb::before {
      background-position: -19px 0px; }
    .social__link--in::before {
      background-position: -42px -1px; } }
